* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #6A5ACD;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #836FFF;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}
